<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
	<!-- Django apps only -->
	<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
	<add key="PYTHONPATH" value="C:\inetpub\wwwroot\EWSweb2\EWSweb" />
	<add key="DJANGO_SETTINGS_MODULE" value="EWSweb.settings" />
</appSettings>
    <system.webServer>
        <handlers>
            <add name="webdjango" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="EWSweb" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
